<template>
    <footer class="footer">
        <span class="footer-start">
            Emails Mandrill
            <div class="ng-isolate-scope">
                <a class="ng-binding">Aviso de Privacidade e Termos de Uso</a>
            </div></span>
        <span>Copyright <strong>Samel</strong> © 1966-2021</span>
        <span class="footer-center">{{ data }}</span>
    </footer>
</template>

<script>
export default {
    name: "Footer",
    computed: {
        data() {
            const dataMath = new Date()
            const hours = dataMath.getHours()
            const minutes = dataMath.getMinutes()
            const weekDate = dataMath.getDate()
            const year = dataMath.getFullYear()
            const weekMonth = dataMath.getMonth()
            const timeZone = dataMath.getTimezoneOffset()

            const weekMonths = ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']

            return `${weekDate} ${weekMonths[weekMonth]} ${year} ${hours}:${minutes} UTC (${timeZone})`
        }
    }
}
</script>

<style>
    .footer {
        grid-area: footer;
        background: linear-gradient(125deg,#081026 0,#003478 60%,#0066a1 100%);
        color:azure;

        display: flex;
        align-items: center;
        justify-content:space-between;
        margin: 0;
        padding: 0 10px;
        font-size: 12px;
    }
    .footer-start{
        align-items: center;
        justify-content: flex-start;
        color:#A6A6A6;
    }
    .footer-center {
        align-items: center;
        justify-content: center;
        color: #B0A99F;
    }

    .ng-binding {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

    .ng-binding:hover {
        color: #fff;
        text-decoration: none;
    }

    .ng-isolate-scope{
        display: inline;
    }

    @media screen and (max-width: 600px){
        .footer-start, .footer-center {
            display: none;
        }
        .footer {
            justify-content: center;
        }
    }
</style>
