<template>
  <header class="header">
    <a class="toggle" @click="toggleMenu">
      <i class="fa fa-lg" :class="icon"></i>
    </a>
    <h1 class="title">
      <router-link to="/">{{ title }}</router-link>
    </h1>
    <UserDropdown v-if="!hideUserDropdown" />
  </header>
</template>

<script>

import UserDropdown from './UserDropdown'

export default {
  name: "Header",
  components: { UserDropdown },
  props: {
    title: String,
    hideToggle: Boolean,
    hideUserDropdown: Boolean
  },
  computed: {
    icon() {
      return this.$store.state.isMenuVisible ? "fa-angle-left" : "fa-angle-down" 
    }
  },
  methods: {
    toggleMenu() {
      this.$store.commit('toggleMenu')
    }
  }
};
</script>

<style>
.header {
  grid-area: header;
  display: flex;
  background: linear-gradient(125deg,#081026 0,#003478 60%,#0066a1 100%);
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 100;
  flex-grow: 1;
  text-align: center;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.title a:hover {
  color: #fff;
  text-decoration: none;
}

header.header > a.toggle {
  width: 60px;
  height: 100%;
  color: #fff;
  justify-self: flex-start;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

header.header > a.toggle:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

</style>