<template>
    <div class="cadastro-emails">
        <PageTitle icon="fa fa-cogs" main="Cadastro de E-mails"
            sub="Cadastros de Membros e Tags" />
            <div class="register-tabs">
                <b-card no-body>
                    <b-tabs card>
                        <b-tab title="membros" active>
                            <MemberRegister />
                        </b-tab>
                    </b-tabs>
                </b-card>
            </div>
    </div>
</template>

<script>

import PageTitle from '@/components/template/PageTitle.vue'
import MemberRegister from './MemberRegister'
//import TagsRegister from './TagsRegister'
//import UpdateList from './UpdateList'

export default {
    name: 'CadastroEmails',
    components: { PageTitle, MemberRegister }
}
</script>

<style>

</style>