<template>
  <div class="members-register">
    <b-form>
      <b-row>
        <b-col md="4" sm="12">
          <b-form-group label="Nome:" label-for="member-fname">
            <b-form-input id="member-fname" type="text" v-model="members.fname" 
              placeholder="Informe o nome do Membro" autocomplete="nope" required>
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col md="4" sm="12">
          <b-form-group label="Sobrenome:" label-for="member-lname">
            <b-form-input id="member-lname" type="text"  v-model="members.lname"
              placeholder="Informe o sobrenome do Membro" autocomplete="nope">
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col md="4" sm="12">
          <b-form-group label="E-mail:" label-for="member-email">
            <b-form-input id="member-email" type="email"  v-model="members.email"
              placeholder="Informe o e-mail do Membro" autocomplete="nope">
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="4" class="mt-2" sm="12">
          <b-form-group label="Telefone:" label-for="member-phone">
            <b-form-input id="member-phone" type="tel"  v-model="members.phone"
              placeholder="Informe o número de telefone" autocomplete="nope">
            </b-form-input>
          </b-form-group>
        </b-col>
        <b-col md="4" sm="12">              
              <div class="droptags">
                <b-form-group label="Selecione as tags" label-for="tags-component-select">
                  <!-- Prop `add-on-change` is needed to enable adding tags vie the `change` event -->
                  <b-form-tags
                    id="tags-component-select"
                    v-model="members.tag"
                    size="lg" 
                    class="mb-2"
                    add-on-change
                    no-outer-focus
                  >
                    <template v-slot="{ tags, inputAttrs, inputHandlers, disabled, removeTag }">
                      <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                        <li v-for="tag in tags" :key="tag" class="list-inline-item">
                          <b-form-tag
                            @remove="removeTag(tag)"
                            :title="tag"
                            :disabled="disabled"
                            variant="info"
                          >{{ tag }}</b-form-tag>
                        </li>
                      </ul>
                      <b-form-select
                        v-bind="inputAttrs"
                        v-on="inputHandlers"
                        :disabled="disabled || availableOptions.length === 0"
                        :options="availableOptions"
                      >
                        <template #first>
                          <!-- This is required to prevent bugs with Safari -->
                          <option disabled value="">Seleciona uma tag...</option>
                        </template>
                      </b-form-select>
                    </template>
                  </b-form-tags>
                </b-form-group>
              </div>
        </b-col>
      </b-row>
      <b-button variant="primary" v-if="mode === 'save'"
        @click="save" title="Salvar">
        Salvar
      </b-button>
      <b-button variant="danger" class="ml-2" @click="reset">Cancelar</b-button>
    </b-form>
    <hr>
    <b-col>
      <b-table responsive="" hover striped sticky-header :fields="fields" :items="users" :busy="isBusy" :per-page="perPage" :current-page="currentPage">
          <template #cell(ID)="data">{{ data.index + 1 }}</template>
          <template #table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong> Carregando...</strong>
            </div>
          </template>
      </b-table>
      <b-pagination pills v-model="currentPage" :total-rows="rows" :per-page="perPage"></b-pagination>
      </b-col>
  </div>
</template>

<script>

import { baseApiUrl, showError } from '@/global'
import axios from 'axios'
import moment from 'moment'

export default {
    name: 'MemberRegister',
    data(){
        return {
            isBusy: false,
            perPage: 5,
            currentPage: 1,
            mode: 'save',
            members: {
              fname: '',
              lname: '',
              email: '',
              phone: '',
              tag: ''
            },
            users: {},
            totalTags: [],
            value: [],
            fields: [
                "ID",
                {
                  key: "email_address",
                  sortable: true,
                  label: "E-mail",
                  tdClass: 'tagsClassTable',
                  thStyle: { backgroundColor: '#5cb85c'},
                },
                {
                  key: "full_name",
                  sortable: true,
                  label: "Nome Completo",
                  tdClass: 'tagsClassTable',
                  thStyle: { backgroundColor: '#5bc0de'},
                },
                {
                  key: "status",
                  sortable: false,
                  label: "Status",
                  tdClass: 'tagsClassTable',
                  thStyle: { backgroundColor: '#5cb85c'},
                  formatter: value => value ? 'Inscrito' : 'Pendente'
                },
                {
                  key: "source",
                  sortable: false,
                  label: "Inscrição",
                  tdClass: 'tagsClassTable',
                  thStyle: { backgroundColor: '#5bc0de'},
                  
                },
                {
                  key: "tags",
                  sortable: false,
                  label: "Tags",
                  tdClass: 'tagsClass',
                  thStyle: { backgroundColor: '#5cb85c'},
                  formatter: (value) => { let items = '' 
                      value.forEach((item) => {
                        items = `${items}  ${item.name}`
                  })
                    return items
                  }
                },
                {
                  key: "last_changed",
                  sortable: true,
                  label: "Última mudança",
                  tdClass: 'tagsClassTable',
                  thStyle: { backgroundColor: '#5bc0de'},
                  formatter: (value) => moment(value).format('DD/MM/YYYY hh:mm:ss a')
                },
            ],
        }
    },
    computed: {
      rows(){
          return this.users.length
      },
      availableOptions() {
        const valores = this.totalTags.map(item => item.name)
        return valores.filter(opt => this.members.tag.indexOf(opt) === -1)
      }
    },
    methods: {
        loadMembers() {
            const url = `${baseApiUrl}/members`
            axios.get(url).then(res => {
                this.users = res.data.members
            })
        },
        loadTags(){
          axios.get(`${baseApiUrl}/tags`)
            .then(res => {
              this.totalTags = res.data.tags
            })
        },
        reset(){
          this.members = {}
          this.members.tag = ''
          this.toggleBusy()
          this.loadMembers()
        },
        save(){
          axios
          .post(`${baseApiUrl}/members`, this.members)
          .then(() => {
            this.$toasted.global.defaultSuccess();
            this.reset();
        })
          .catch(showError);
        },
        toggleBusy() {
          this.isBusy = !false
          setTimeout(() => {
            this.isBusy = !true
          }, 1000)
      }
    },
    mounted(){
        this.loadMembers();
        this.loadTags();
    }
}
</script>

<style>
  .tagClass {
    border: 1px solid rgb(77, 77, 77,0.2);
    border-radius: 5px;
  }

  .contentTags {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .tagsClass {
    width: 15%;
    color: royalblue;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .tagsClassTable {
    color: #000;
    font-weight:600;
    font-size: 0.9rem;
  }

</style>