<template>
  <div class="tags-register">
    <h1 class="title-up">Atualizar lista de membros.</h1>
    <b-row>
      <b-col class="content-info" md="6" sm="12">
        <img class="image" src="https://i.imgur.com/GbYjjJo.png" />
        <br>
        <p class="info-danger">A atualização dos e-mails é feito diariamente em determinado horário, e leva algum tempo para ser concluído.
          Ao iniciar a importação, é importante não refazer o envio já que o mesmo se encontra em andamento.
        </p>
        <b-button variant="primary" @click="up">
          <i class="fa fa-upload"></i> Enviar
        </b-button>
      </b-col>
      <b-col md="6" sm="12" class="mt-3">
        <div class="content" style="height: 460px; overflow-y: scroll;">
          <label class="label-info" for="">Aqui irá aparecer a lista dos membros que estão sendo atualizados.</label>
          <p class="p-info" v-for="(item, index) in logReturn" :key="index">{{ index }} - {{ item.E_MAIL }}</p>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>

import { baseApiUrl, showError } from '@/global'
import axios from 'axios'

export default {
  name: "UpdateList",
  data() {
    return {
      logReturn: {}
    }
  },
  methods: {
    up(){

      this.$toasted.global.update();

      axios
        .get(`${baseApiUrl}/up`)
        .then(res => {
          this.logReturn = res.data
          console.log(this.logReturn)
          })
        .catch(error => console.log(error), showError)
    }
  }
};
</script>

<style>

.title-up {
  text-align: center;
}
  .image {
    width: 550px;
  }

  .content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 10px;
  }

  .label-info {
    font-size: 1.2rem;
  }

  .info-danger {
    width: 95%;
    padding: 20px;
    background-color:wheat;
  }

  .p-info {
    font-size: 1rem;
    color:rgb(32, 123, 67);
  }

  @media screen and (max-width: 750px){
    .image {
      width: 300px;
    }
    .info-danger {
      width: auto;
    }
  }
</style>

