<template>
  <div class="home">
      <PageTitle icon=" fa fa-home" main="Dashboard" sub="Estatísticas" />
      <div class="stats">
        <Stat title="Campanhas" :value="campaigns.total_items" icon="fa fa-envelope-square" color="#d54d50" />
        <Stat title="Tags" :value="tags.total_items" icon="fa fa-tags" color="#3b4c80" />
        <Stat title="Membros" :value="stat.total_items" icon="fa fa-user" color="#3282cd" />
      </div>
  </div>
</template>

<script>

import PageTitle from '@/components/template/PageTitle.vue'
import Stat from './Stat'
import axios from 'axios'
import { baseApiUrl } from '@/global'

export default {
    name: 'Home',
    components: { PageTitle, Stat },
    data() {
      return {
        count: 2,
        stat: {},
        tags: {},
        campaigns: {}
      }
    },
    methods: {
      getStats() {
        axios.get(`${baseApiUrl}/members`)
          .then(res => this.stat = res.data)
      },
      getTags() {
        axios.get(`${baseApiUrl}/tags`)
          .then(res => this.tags = res.data)
      },
      getCampaigns() {
        axios.get(`${baseApiUrl}/campaigns`)
          .then(res => this.campaigns = res.data)
      }
    },
    mounted() {
      this.getStats();
      this.getTags();
      this.getCampaigns();
    }
}
</script>

<style>
  .stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>