<template>
	<div id="app" :class="{'hide-menu': !isMenuVisible}">
		<Header title="Campanha de emails" :hideToggle="true"/>
		<Menu />
		<Content />
		<Footer />
	</div>
</template>

<script>

import { mapState } from 'vuex'

import Content from '@/components/template/Content.vue'
import Menu from '@/components/template/Menu.vue'
import Header from '@/components/template/Header.vue'
import Footer from '@/components/template/Footer.vue'

export default {
	name: "App",
	components: { Content, Menu, Header, Footer },
	computed: mapState(['isMenuVisible'])
}
</script>

<style>

@font-face {
    font-family: "CentraleSansCnd-Book";
    src: url("./fonts/CentraleSansCnd-BookItalic.otf");
}

* {
    font-family: "CentraleSansCnd-Book", sans-serif;
}

body {
	margin: 0;
}

#app {
	--webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;

    display: grid;
	height: 100vh;
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "header header"
        "menu content"
        "footer footer"
    ;
}

#app.hide-menu {
	grid-template-areas: 
		"header header"
		"content content"
		"footer footer"
	;
}
 
</style>